{% extends 'layout.html' %}

{% block body %}

<div class="col-md-7 offset-md-2">
    <div class="card card-body">
        <form action="" method="POST">
            <div class="form-group">
                <h1 class="form-control center">GUIA DE EMERGENCIA 117 DEL MANUAL GREG</h1>              
            </div>
            <div class="d-grid gap-2 pt-4">
                <a href="https://drive.google.com/file/d/1Z4yoMEWqfuPiSMaJLows8OpeSr5Uo1bY/view" class="btn btn-success "  target="_BLANK">Click para ver la Guia</a>  
            </div>           
        </form>      
    </div>
</div>
{% endblock %}